<html>
    <header>
        <title>
            Which Animal Am I?
        </title>
    </header>
    <body>
        <h1>
            Which Animal Am I?
        </h1>
        <p>
            The {{ animal }} you are is a {{ name }}
        </p>
        <h2>
            The last five animals and their Noises
        </h2>
        <p>
            {% for animal in last_five_animals %}
            The {{ animal.type }} goes {{ animal.noise }}
            <br>
            {% endfor %}
        </p>
    </body>
</html>